@import './utils/variables';
@import './components/body';
@import './components/container';
@import './components/header';
@import './components/logo';
@import './components/menu-mobile';
@import './components/hero';
@import './components/button';
@import './components/advantages';
@import './components/services';
@import './components/section';
@import './components/team';
@import './components/social-media';
@import './components/clients';
@import './components/footer';
@import './components/filters';
@import './components/gallery';
@import './components/modal';
