h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Helvetica Neue", "Verdana", "Tahoma", sans-serif;
  color: $text;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background: $elements-white;
}

body.modal--open{
  overflow: hidden;
}