.gallery{
  list-style: none;

  @media screen and (min-width:768px) {
      display: flex;
      flex-wrap: wrap;
  }

  &__project-card{
    margin-bottom: 30px;

    @media screen and (min-width:768px) {
      margin-right: 30px;

      &:nth-child(2n){
        margin-right: 0;
      }
    }

    @media screen and (min-width:1200px) {
        &:nth-child(n){
          margin-right: 30px;
          margin-bottom: 30px;
        }


        &:nth-child(3n){
          margin-right: 0;
        }

        &:nth-child(n+7){
          margin-bottom: 0;
        }
      }
    }


  &__project-card:last-child{
    margin-bottom: 0;
  }


}

.project-card {
  width: 100%;

  @media screen and (min-width:480px) {
    width: 450px;
  }

  @media screen and (min-width:768px) {
    width: 354px;
  }

  @media screen and (min-width:1200px) {
    width: 370px;
  }

  &__link{
    display: block;
    text-decoration: none;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__project{
    position: relative;
    overflow: hidden;
  }
}





.project{

  position: relative;
  overflow: hidden;
  
    &__image {
      display: block;
      max-width: 100%;
      height: auto;
    }


    &__brief{
      padding: 20px 24px;
      
      background: $elements-white;
      border: #eeeeee 1px solid;
    }

    &__brief--extended{
      @media screen and (min-width:768px) and (max-width:1199px) {
        padding-bottom: 56px;
      }
    }

    &__title{
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: $title;
    }

    &__text{
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.03em;
      color: $text;
    }

    &__bio{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      padding: 63px 24px;
      transform: translateY(101%);
    
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: 0.03em;
      color: $elements-white;
      background-color: rgba(33, 150, 243, 0.9);
    }


      .project-card__link:hover &__bio,
      .project-card__link:focus &__bio {
      transform: translateY(0);
      transition-property: transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

}





