.logo {
    display: flex;
    justify-content: center;

    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $brand-color;  
    text-decoration: none;

    @media screen and (min-width:1200px) {
    font-size: 26px;
    line-height: 1.2;
    justify-content: start;
    }
    
    &__text {
    color: $logo-extra;
    }
    
    &__text--alternative{
    color: $elements-white;
    text-align: center;
    }

}

