.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $brand-color;  
    text-decoration: none;
    
    &__text {
    color: $logo-extra;
    }
    
    &__text--alternative{
    color: $elements-white;
    }

}

