.menu-mobile{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background: $elements-white;
    position: fixed;
    top:0%;
    left: 0%;
    padding: 48px 40px 48px 40px;
    z-index: 1;
    transform: translateY(0);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);



&__close-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 21px;
    right: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        fill: $brand-color
      }
}    


    &__contacts{
        margin-top: 302px;
    }

    &__social-media{
        margin-top: 64px;
        display: flex;
        list-style: none;
        flex-wrap: wrap;
    }


}


.menu-mobile.is-hidden{
    transform: translateY(-100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__list{
    list-style: none;
}

.menu__item{
    margin-bottom: 32px;

    &:last-child{
        margin-bottom: 0;
    }
}

.menu__navigation{
    text-decoration: none;
    color: $title;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        color: $brand-color;
    }

}

.menu__tel{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    color: $brand-color
}

.menu__email{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    color: $text;
}

.social-media__list{
    margin-right: 10px;
    border-right: solid 1px rgba(33, 33, 33, 0.2);;
    padding-right: 10px;

    &:last-child{
        margin-right: 0;
        padding-right: 0;
        border-right: none;
    }

}


.menu__social-media{
    text-decoration: none;
    color: $brand-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

}

